.contact-main {
    display: flex;
    flex-direction: column;

    .contact-col_01 {
        display: flex;
        justify-content: flex-start;
        opacity: 0;

        .contact-details-container {
            margin: 1.7em;
            padding: 1em;

            p {
                font-size: 1.2em;
            }
        }
    }

    .contact-col_02 {
        display: flex;
        justify-content: flex-end;
        opacity: 0;

        img {
            width: 100vw;
        }
    }
}