.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200vh;
    width: 100%;
    display: block;
    background-color: #ffffff;
    z-index: 100;
}


.site-main_front-page {
    height: 75vh;

    @media screen and (max-width: 768px) {
        height: auto;
    }

    .front-page-project-title {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .front-page-image_wrapper {
        opacity: 0;
        margin-top: 5vh;

        @media screen and (max-width: 768px){
            height: 40vh;
        }

        img {
            @media screen and (max-width: 768px){
                height: 100%;
                object-fit: cover;
            }   
        }
    }



}