
.site-main_front-page {
    height: 75vh;

    @media screen and (max-width: 768px) {
        height: auto;
    }

    .front-page-project-title {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }



}