
.site-main_front-page {

    margin-top: 5vh;

    .swiper-spacer {
        display: block;
        width: 50vw;
    }

    .front-page-project-title {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }



}