.header-wrapper {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px){
        justify-content: space-between;
    }

    .site-branding {
        padding: 1em;
    
        .custom-logo-link {
            width: 125px;
        }
    }
}

