.portfolio-main {

    .portfolio-list-container {
        margin-bottom: 5vh;

        .portfolio-list {
            display: flex;
            justify-content: center;

            .project-list-item {
                padding: 0.5em;
                opacity: 0;
                
                a {
                font-size: 1.3em;
                font-weight: 300;
                color: #321325;
                text-transform: uppercase;
                transition: color 850ms ease-in-out;

                @media screen and (max-width: 768px){
                    font-size: 1em;
                    color: #321325;
                }

                @media screen and (max-width: 350px){
                    font-size: 0.7em;
                    color: #321325;
                }

                &:hover {
                    color: #d9d9d9;
                }

                }
                
            }
        }
    }




    .portfolio-image-container {
        display: flex;
        justify-content: center;
        opacity: 0;

        @media screen and (max-width: 768px){
            height: 50vh;
            overflow: hidden;
        }
        

        .portfolio-images {
            max-width: 800px;
            position: relative;
            height: 75vh;
            width: 100%;

            @media screen and (max-width: 768px){
                height: 50vh;
            }

            @media screen and (max-width: 450px){
                height: 36vh;
            }

            .portfolio-image-item {
                position: absolute;
                top: 0;
                left: 0;

                @media screen and (max-width: 768px){
                    height: 45vh;
                }

                img {
                    @media screen and (max-width: 768px){
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.portfolio-feature-image {
    opacity: 0;
    transition: all 850ms ease-in-out;
}


.portfolio-feature-image.display-image {
    opacity: 1;

    @media screen and (max-width: 768px){
        opacity: 0;
    }
}


.portfolio-image-item:first-of-type > img {
    opacity: 1;
}





