#cursor {
    position: fixed;
    top: -100px;
    left: -100px;
    
    width: 0;
    height: 0;
    pointer-events: none;
    z-index: 999;
    mix-blend-mode: difference; 
    

    // Switch this on for mobile devices
    @media screen and (max-width: 768px){
        display: none;
        top: 0;
        left: 0;
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #EC7357;
        opacity: 0.8;
        transition: width 500ms ease 0s, height 500ms ease 0s;
              
    }
}

#cursor.cursor--hidden::after {
    height: 0;
    width: 0;
}

#cursor.cursor--gone::after {
    border: 0;
}

#cursor.cursor--active::after {
    height: 32px;  
    width: 32px;
    background-color: transparent;
    border: 1px solid #EC7357; 

}

#cursor.pulse {
    transform: scale(1.2)
}