.swiper-container {
    height: 80vh;
    
    .swiper-slide {
        width: 65vw;
    }

}




.swiper-slide {
    opacity: 0.1;
    transition: opacity 2s ease-in-out;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 0 !important;
    width: 20% !important;
    height: 100% !important;
    margin-top: -22px;
    z-index: 10;
    cursor: none !important;
    background-image: none !important;
}

.swiper-button-next:before {
    content: "Next";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}