// Initial State for menu

.main-navigation {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255,255,255, 0.68);
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;

	transition: all 1s ease-in-out;
	
	.menu-menu-1-container {

		.menu {
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			text-align: center;	
	
			.menu-item {
				transform: translateY(3px);
	
				a {
					font-size: 3em;
					font-weight: 300;
					color: #171717;
					text-transform: uppercase;
					transition: color 500ms ease-in-out;

					&:hover {
						color: #3c6e71;
					}

					&:focus {
						color: #321325;
					}
				}
			}
		}
	}
}



// Toggle Menu Buttons
.main-menu-toggle {
	position: fixed;
	bottom: 2vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	height: 24px;
	overflow: hidden;
	z-index: 3;
	

	background-color: rgba($color: #ffffff, $alpha: 0.45);

	@media screen and (max-width: 768px){
		background-color: rgba($color: #ffffff, $alpha: 1);
		border: 1px solid #171717;
	}

	border-radius: 50px;
	padding: 2px 20px 2px 20px;

	.menu-toggle_open, .menu-toggle_close {
		font-weight: 300;
		transition: all 800ms ease-in-out;

	}

	
}

#primary-menu > .menu-item {
	opacity: 0;
}